body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
h1{
    color: #e20000;
    font-size: 36px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 14px;
    color: #282828;
    font-weight: 300;
}
p{
    color: #6a6a6a;
    font-size: 14px;
}
textarea{
    height: 150px;
}
input, textarea, .btn{
    border-radius: 15px !important;
}
nav .nav-link{
    color: #282828;
}
nav .active{
    border: #e20000 1px solid;
    border-radius: 20px;
}
.btn{
    background-color: white;
    color: #370a6d;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}
.btn:hover{
    background-color: #370a6d;
    color: white;
}
#inicio, #contacto{
    background-image: url("../images/fondo-contacto.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#inicio .home p{
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 40px;
}
.img-cohete{
    height: 410px;
}
.cohete{
    height: 400px;
}
.cohete:hover{
    height: 410px;
}
.btn-inicio{
    color: #370a6d;
    background-color: white;
    text-decoration: none;
    border-radius: 40px;
}
.btn-inicio:hover{
        background-color: #370a6d ;
        color: white ;
}
#sobre-mi, #proyectos{
    background-image: url("../images/fondo-proyectos.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#sobre-mi .img-circle{
    margin: 1px auto;
    display: block;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}
#tecno .cvd{
    height: 150px;
    padding: 35px;
    width: auto;
}
#trabajo h2{
    color: #370a6d;
    font-size: 22px;
}
#trabajo h3, #formacion h3{
    color: #6A6A6A;
    font-size: 18px;
    font-weight: 600;
}
#trabajo h4, #formacion h4{
    font-size: 17px;
}
#trabajo h5, #formacion h5{
    color: #6A6A6A;
    font-size: 14px;
}
#formacion h2, #formacion h4{
    color: #e20000;
}
#idiomas h2{
    font-size: 16px;
    font-weight: 600px;
}
#idiomas .cvd{
    background-color: #370A6D;
    border-radius: 15px;
    padding: 40px 0;
}
#idiomas .fas{
    font-size: 80px;
    color: white;
}
#idiomas ul{
    padding: 0px;
    font-size: 14px;
    color: #6A6A6A;
    list-style-type: none;
}
#proyectos h2{
    color: white;
    font-size: 16px;
}
#proyectos img{
    height: 210px;
    background-color: white;
    padding: 0px;
}
#proyectos .btn{
    background-color: #e20000;
    color: white;
}
#proyectos .btn:hover{
        background-color: #370a6d;
        color: white;
}
#proyectos .gt{
    color: red;
    text-decoration: none;
}
.bloques p{
    height: 90px;
}
footer, .footer a{
    color: white;
    font-weight: 100;
}
footer .fa-github{
    font-size: 30px;
    color: white;
}
footer .fa-linkedin-in{
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
.whatsapp a{
    color: white;
}
.whatsapp{
    position: fixed;
    font-size: 30px;
    bottom: 0px;
    right: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px 0px 15px 0px;
    background-color: #370a6d;
    color: white;
    text-align: center;
    width: 60px;
}
.fa-bars{
    padding: 10px;
    border-radius: 5px;
}
.navbar-toggler{
    color: #ff4a49;
    border: #ff4a49 solid 1px;
}
.navbar-toggler:focus{
    box-shadow: none;
    background-color: #370a6d;
    color: white;
    border: 1px solid white;
}
.btn-rojo {
    background-color: #E20000;
    color: white;
    font-weight: 100;
    border-radius: 15px;
}
.gradiente{
    background: rgba(184,37,20,1);
    background: -moz-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(184,37,20,1)), color-stop(47%, rgba(214,52,30,1)), color-stop(70%, rgba(240,47,23,1)), color-stop(100%, rgba(240,47,23,1)));
    background: -webkit-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -o-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -ms-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: linear-gradient(to right, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b82514', endColorstr='#f02f17', GradientType=1 );
}
@media (max-width: 750px) {
    #inicio, #contacto{
        background-image: url("../images/fondo-proyectos.png");
    }
    #inicio .home p {
        color: #E20000;
        border: 1px solid #E20000;
    }
    footer, .footer a{
        color: #6a6a6a;
    }
    footer .fa-github{
        color: #ff4a49;
    }
}